header {
    position: relative; 
    width: 100%; 
    height: 500px; 
    overflow: hidden; 
    margin-bottom: 50px;
}

.header-video {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover; 
    z-index: 1; 
    filter: opacity(80%);
}

.header-text {
    position: absolute; 
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #dededd;     
    font-size: 50px; 
    z-index: 2; 
    text-shadow: 2px 2px 4px #552F1A; 
    font-family: "Kaushan Script", serif; /*testing*/
}


body {
    background-color: #1C0D08;
  font-family: "Lexend Mega", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #CABAAA;
  justify-content: space-around;
}

.lexend-mega {
    font-family: "Lexend Mega", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    margin: 10px;
}

.Baies {
    display: flex;
    color: #3C3523;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    overflow: scroll;
    padding: 24px;
    background-color: #CABAAA;
    border: 2px solid #CABAAA;
    border-radius: 10px;

}


.Feu-De-Bois {
    display: flex;
    color: #1C0D08;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    overflow: scroll;
    padding: 24px;
    background-color: #CABAAA;
    border: 2px solid #CABAAA;
    border-radius: 10px;
}


.Figuier {
    display: flex;
    color: #1C0D08;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    overflow: scroll;
    padding: 24px;
    background-color: #CABAAA;
    border: 2px solid #CABAAA;
    border-radius: 10px;
}


.Roses {
    display: flex;
    color: #1C0D08;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    overflow: scroll;
    padding: 24px;
    background-color: #CABAAA;
    border: 2px solid #CABAAA;
    border-radius: 10px;
}

a {
    text-decoration: none; 
    color: #1C0D08; 
    padding: 5px 10px; 
    border: 2px solid #1C0D08; 
    border-radius: 5px; 
    display: inline-block; 
}

a:hover {
    background-color: #938373;
    color: #CABAAA; 
    border: 2px solid #938373;
}

img {
    background-color: #CABAAA;
}

footer {
    padding: 50px;
}