header {
    position: relative; 
    width: 100%; 
    height: 500px;   
    overflow: hidden; 
    padding: 50px;
}

.header-video {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover; 
    z-index: 1; 
    filter: opacity(80%);
}

.header-text {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #FFFFFD;     
    font-size: 30px; 
    z-index: 2; 
    text-shadow: 2px 2px 4px #3C3523; 
    justify-content: space-around;
}


body {
    background-color: #FFFFFD;
  font-family: "Lexend Mega", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #3C3523;
}

.lexend-mega {
    font-family: "Lexend Mega", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
}

.Baies {
    display: flex;
    color: #3C3523;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    overflow: scroll;
    padding: 24px;
    background-color: #C2B085;
    border: 2px solid #C2B085;
    border-radius: 10px;
    margin-right: 16px;

}


.Feu-De-Bois {
    display: flex;
    color: #3C3523;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    overflow: scroll;
    padding: 24px;
    background-color: #C2B085;
    border: 2px solid #C2B085;
    border-radius: 10px;
    margin-right: 16px;
}


.Figuier {
    display: flex;
    color: #3C3523;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    overflow: scroll;
    padding: 24px;
    background-color: #C2B085;
    border: 2px solid #C2B085;
    border-radius: 10px;
    margin-right: 16px;
}


.Roses {
    display: flex;
    color: #3C3523;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    overflow: scroll;
    padding: 24px;
    background-color: #C2B085;
    border: 2px solid #C2B085;
    border-radius: 10px;
    margin-right: 16px;
}

a {
    text-decoration: none; 
    color: #3C3523; 
    padding: 5px 10px; 
    border: 2px solid #3C3523; 
    border-radius: 5px; 
    display: inline-block; 
}

a:hover {
    background-color: #3C3523;
    color: #FFFFFD; 
}

img {
    background-color: #C2B085;
}

footer {
    padding: 50px;
}